nav.black.md-margin-bottom
    .row
        .nav-wrapper.col.s12
            a.brand-logo.center(href='https://github.com/')
                img.left.md-margin-right.sm-margin-top.sm-margin-left(src='{{logopath}}')
                | Profile Finder
