nav.black.md-margin-bottom
    .nav-wrapper
        a.brand-logo(href='https://github.com/')
            img.left.md-margin-right.sm-margin-top.sm-margin-left(src='{{logopath}}')
            | Profile Finder
