.row
    .col.l8.push-l2.m-10.push-m1.s12
        .card-panel
            app-search-bar.md-margin-bottom((onSearch)='onSearch($event)')
            app-profile([profileInfo]='profileInfo' [isSearching]='isSearching')